
@{
    ViewBag.Title = "Prueba";
    Layout = "~/Views/Shared/_Layout_Aula.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Cursos</h1>
    <div class="container-fluid">

        <br />
        <section>
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <img src="~/img/libro.png" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">Ingles avanzado </h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <img src="~/img/libro.png" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">Algebra </h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <img src="~/img/libro.png" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">Calculo</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <img src="~/img/libro.png" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">Programacion Python</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <img src="~/img/libro.png" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">Diseño grafico</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
