
@{
    ViewBag.Title = "CursosInicio";
}


            <main id="main">
                <asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
                    <div class="container">
                        <h1> Lista de Categorias</h1>
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="~/img/algebra.jpg" class="card-img-top" alt="..." height="100" width="100">
                                    <div class="card-body">
                                        <h5 class="card-title">Algebra</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <a href="~/Algebra/Algebra" class="btn btn-primary">Ver Cursos</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="~/img/aritmetica.jpg" class="card-img-top" alt="..." height="100" width="100">
                                    <div class="card-body">
                                        <h5 class="card-title">Aritmetica</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <a href="~/Aritmetica/Aritmetica" class="btn btn-primary">Ver Cursos</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="~/img/Geometria.jpg" class="card-img-top" alt="..." height="100" width="100">
                                    <div class="card-body">
                                        <h5 class="card-title">Geometria</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <a href="~/Geometria/Geometria" class="btn btn-primary">Ver Cursos</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="~/img/Ingles.jpeg" class="card-img-top" alt="..." height="100" width="100">
                                    <div class="card-body">
                                        <h5 class="card-title">Ingles</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <a href="~/Ingles/Ingles" class="btn btn-primary">Ver Cursos</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="~/img/Fisica.jpg" class="card-img-top" alt="..." height="100" width="100">
                                    <div class="card-body">
                                        <h5 class="card-title">Fisica</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <a href="~/Fisica/Fisica" class="btn btn-primary">Ver Cursos</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="~/img/Biologia.jpg" class="card-img-top" alt="..." height="100" width="100">
                                    <div class="card-body">
                                        <h5 class="card-title">Biologia</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <a href="~/Biologia/Biologia" class="btn btn-primary">Ver Cursose</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            </main>

            

