@{
    ViewBag.Title = "Home Page";
}

<main id="main">
    <section class="mission">
        <div class="mission-info">
            <h2>Nuestros profesores</h2>
            <p>Ofrecemos la mejor interacción entre alumno - profesor, para el curso de tu preferencia.</p>
        </div>
        <div class="spacey-img">
            <img src="~/images/persona3.jpg">
            <img src="~/images/persona2.jpg">
            <img src="~/images/persona1.jpg">
        </div>

    </section>

    <!-- Parallax Elon Musk -->
    <section class="elon-musk">
        <div class="skew-arriba"></div>
        <figure class="figure-img">
            <h4>"El aprendizaje resulta de lo que el estudiante hace y piensa y sólo de lo que el estudiante hace y piensa el profesor puede favorecer el aprendizaje sólo influyendo en lo que el estudiante hace para aprender"<br /> Herber Simon (1916 - 2011)</h4>
        </figure>

        <div class="skew-abajo"></div>
    </section>

    <!-- Img Gallery -->
    <section class="gallery-section">
        <div class="gallery-container">
            <div class="img-card"><img src="~/images/Matematicas.jpg" alt="Matematicas"></div>
            <div class="img-card"><img src="~/images/Programacion.jpg" alt="Programacion"></div>
            <div class="img-card"><img src="~/images/Literatura.jpg" alt="Literatura"></div>
            <div class="img-card"><img src="~/images/Ciencias.jpg" alt="Ciencias"></div>
            <div class="img-card"><img src="~/images/Ingenieria.jpg" alt="Ingenieria"></div>
            <div class="img-card"><img src="~/images/Artes.jpg" alt="Artes"></div>

        </div>
        <div class="modal-gallery">
            <span class="close-modal"><i class="fas fa-times"></i></span>

            <img src="" id="imgModal">

            <div class="captionModal"></div>

            <div class="gallery-list">
                <img src="~/images/Matematicas.jpg" alt="Matematicas">
                <img src="~/images/Programacion.jpg" alt="Programacion">
                <img src="~/images/Literatura.jpg" alt="Literatura">
                <img src="~/images/Ciencias.jpg" alt="Ciencias">
                <img src="~/images/Ingenieria.jpg" alt="Ingenieria">
                <img src="~/images/Artes.jpg" alt="Artes">
            </div>
        </div>
    </section>
</main>
