@model List<MVC_Suedi.Models.newModels.ModeloCursos>
@{
    ViewBag.Title = "Biologia";
}


            <main id="main">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <tr>

                                <th>E_MAIL_P</th>
                                <th>Nombre del Curso</th>
                                <th>Estado</th>

                            </tr>
                            @foreach (var oElemento in Model)
                            {
                        <tr>
                            <td>@oElemento.E_MAIL_P</td>
                            <td>@oElemento.Nombre</td>
                            <td>@oElemento.Estado</td>
                            <td>
                                <a href="~/Algebra/Matricular/@oElemento.ID_Curso">matricular</a>
                            </td>
                        </tr>
                            }
                        </table>
                    </div>
                </div>
            </main>

           